@import './base/reset.scss';

body {
  box-sizing: border-box;
}

button {
  font-weight: bold;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover{
    opacity: 0.6;
  }
}

header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

#kanban {
  width: 1000px;
  margin: 0 auto;
}

.main {
  width: 100%;

  &-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    #sorting{
      padding: 5px;
      border-radius: 3px;
      font-weight: 500;
      cursor: pointer;
    }

    .addBtn {
      background-color: black;
      padding: 5px 8px;
    }
  }
}

section {
  width: 100%;
  display: flex;
  gap: 15px;
}

article {
  min-height: 100vh; // px 주기
  flex: 1;


  h2 {
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  #to-do {
    background-color: #42a5f5;
  }

  #in-progress {
    background-color: #e53935;
  }

  #done {
    background-color: #66bb6a;
  }

  ul {
    min-height: 500px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      &.dragged {
        opacity: 0.5;
        cursor: move;
      }

      .card {
        padding: 15px;
        position: relative;
        border-radius: 5px;
        background-color: white;
        box-shadow: 2px 2px 5px 1px #091e4240;
        cursor: pointer;


        p:not(:last-child) {
          margin-bottom: 5px;
        }

        &-title {
          font-size: 20px;
        }

        &-contents {
          margin-top: 30px;
        }

        &-btn {
          position: absolute;
          top: 10px;
          right: 10px;
          display: flex;
          gap: 5px;

          .updateBtn {
            background-color: deepskyblue;
            padding: 3px 5px;
          }

          .deleteBtn {
            background-color: orangered;
          }
        }

        &-priority {
          padding: 5px;
          font-size: 12px;
          font-weight: 700;
          border: 1px solid black;
          border-radius: 5px;
          position: absolute;
          top: 38px;
          right: 10px;
        }
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &-window {
    width: 300px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;

    .closeBtn {
      all: unset;
      font-size: 20px;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }

    .modal-form {
      margin-top: 10px;
      padding: 20px;


      div {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        label{
          font-weight: 700;
        }

        input {
          width: 80%;
          border: 1px solid black;
        }

        textarea {
          width: 100%;
          margin-top: 30px;
        }
      }

      .select-row {
        display: flex;
        justify-content: space-between;

        span {
          label {
            font-size: 14px;
          }

          select {
            width: 80px;
          }
        }
      }

      .btn-row {
        margin-top: 15px;
        justify-content: flex-end;

        .submitBtn {
          &-add {
            padding: 5px 7px;
            background-color: black;
          }

          &-update {
            padding: 5px 7px;
            background-color: deepskyblue;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}